.about--main{
    min-height: 64.3vh;
    padding: 5% 10%;
}

.about--title{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: #34B3D3;
}

.about--body{
    font-weight: 400;
    text-align: center;
}