.adminpets--main{
    background-color: #ccc;
    min-height: 63.8vh;
    padding: 5% 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.adminpets--card{
    background-color: white;
    width: 50%;
    height: 50%;
}