.celebration-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

.celebration-title {
    font-weight: bolder;
    color: #34b3d3;
}

.celebration-message {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}